.login-container {
  display: flex;
  height: 100%;
  flex-direction: row;
}

/* Imagen a la izquierda */
.login-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* Formulario a la derecha */
.login-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #530909;
  }

  .btn-login {
    background-color: #530909;
    color: white;

    &:hover {
      background-color: #3e0606;
    }
  }
}

/* Responsivo para móviles */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image {
    height: 200px;
  }
}
