<ion-content fullscreen>
  <!-- Franja superior -->
  <header class="top-bar">
    <div class="top-bar-inner">
      <img src="assets/logoutsem.png" alt="UTSEM Logo" class="brand-logo" />
      <div class="brand-text">
        <div class="brand-acronym">EDOMEX</div>
        <div class="brand-name">Universidad Tecnológica del Sur del Estado de México</div>
      </div>
    </div>
  </header>

  <!-- Contenedor centrado -->
  <div class="center-wrapper">
    <div class="login-container">
      <!-- Lado izquierdo -->
      <div class="login-image">
        <h1>Bienvenidos<br>Biblioteca Escolar</h1>
        <img src="assets/biblioteca.jpg" alt="Biblioteca" />
      </div>

      <!-- Lado derecho -->
      <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="login()">
          <ion-item>
            
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" class="btn-login">Continuar</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
