<ion-content class="fondo">
  <div class="contenedor">

    <h1 class="titulo">PRÉSTAMOS REGISTRADOS</h1>

    <div class="barra-busqueda">
   
      
      <ion-button (click)="nuevoPrestamo()">+ Nuevo</ion-button>
    </div>

    <div class="tabla-contenedor">
      <table>
        <thead>
          <tr>
            <th>ALUMNO</th>
            <th>MATRÍCULA</th>
            <th>CARRERA</th>
            <th>LIBRO</th>
            <th>CANTIDAD</th>
            <th>F. PRÉSTAMO</th>
            <th>F. DEVOLUCIÓN</th>
            <th>ESTATUS</th>
            <th>ACCIÓN</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of prestamosFiltrados; let i = index" [class.par]="i % 2 === 0">
            <td>{{ p.alumnoNombre }} {{ p.apellidoPaterno }} {{ p.apellidoMaterno }}</td>
            <td>{{ p.matricula }}</td>
            <td>{{ p.carreraNombre }}</td>
            <td>{{ p.libroTitulo }}</td>
            <td>{{ p.cantidad }}</td>
            <td>{{ p.fechaPrestamo }}</td>
            <td>{{ p.fechaDevolucion }}</td>
            <td>{{ p.estatus }}</td>

            <!-- ACCIONES -->
            <td class="acciones">
             <ion-icon name="arrow-undo-outline"
          style="cursor:pointer; margin-right: 10px;"
          (click)="editarPrestamo(p)">
</ion-icon>


              <ion-icon name="trash-outline"
                style="cursor:pointer;"
                (click)="eliminarPrestamo(p)">
              </ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
<app-loading></app-loading>
