<ion-content class="fondo">
  <div class="contenedor">
    <h1 class="titulo">AUTORES REGISTRADOS</h1>

    <!-- 🔍 Barra de búsqueda -->
    <div class="barra-busqueda">
      <ion-input
        placeholder="Buscar autor..."
        [(ngModel)]="searchTerm"
        class="input-buscar">
      </ion-input>

      <ion-button (click)="buscar()">Buscar</ion-button>
      <ion-button (click)="limpiar()">Limpiar</ion-button>
      <ion-button (click)="nuevoAutor()">+ Nuevo</ion-button>
    </div>

    <!-- 📋 Tabla -->
    <div class="tabla-contenedor">
      <table>
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>
            <th>NACIONALIDAD</th>
            <th>ACCIÓN</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let a of autoresPaginados; let i = index" [class.par]="i % 2 === 0">
            <td>{{ a.nombre }}</td>
            <td>{{ a.apellidoPaterno }}</td>
            <td>{{ a.apellidoMaterno }}</td>
            <td>{{ a.nacionalidad }}</td>
            <td class="acciones">
              <ion-icon name="create-outline" (click)="editarAutor(a)" style="cursor:pointer; margin-right: 10px;"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- PAGINACIÓN -->
    <div class="paginacion">
      <ion-button 
        class="btn-pag"
        (click)="currentPage = currentPage - 1"
        [disabled]="currentPage === 1">
        &laquo;
      </ion-button>

      <span class="pagina-info">{{ currentPage }} / {{ totalPages }}</span>

      <ion-button 
        class="btn-pag"
        (click)="currentPage = currentPage + 1"
        [disabled]="currentPage === totalPages">
        &raquo;
      </ion-button>
    </div>

  </div>
</ion-content>

<app-loading></app-loading>
