<ion-content class="fondo">
  <div class="contenedor">
    <h1 class="titulo">LIBROS REGISTRADOS</h1>

    <!-- BARRA DE BÚSQUEDA -->
    <div class="barra-busqueda">
      <ion-input 
        placeholder="Buscar libro..." 
        [(ngModel)]="searchTerm"
        class="input-buscar">
      </ion-input>

      <ion-button (click)="buscar()">Buscar</ion-button>
      <ion-button (click)="limpiar()">Limpiar</ion-button>

      <ion-button  (click)="nuevoLibro()">+ Nuevo</ion-button>
    </div>

    <!-- TABLA -->
    <div class="tabla-contenedor">
      <table>
        <thead>
          <tr>
            <th>TITULO</th>
            <th>AUTOR(ES)</th>
            <th>AÑO PUBLICACIÓN</th>
            <th>EDITORIAL</th>
            <th>DISPONIBILIDAD</th>
            <th>ESTATUS</th>
            <th>ACCIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of librosPaginados; let i = index" [class.par]="i % 2 === 0">
            <td>{{ e.titulo }}</td>
            <td>{{ e.autores.join(', ') }}</td>
            <td>{{ e.anioPublicacion }}</td>
            <td>{{ e.editorial }}</td>
            <td>{{ e.copiasDisponibles }}</td>
            <td>{{ e.estatus }}</td>
            <td class="acciones">
              <ion-icon 
                name="create-outline" 
                style="cursor:pointer; margin-right: 10px;"   
                (click)="editarLibro(e)">
              </ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- PAGINACIÓN -->
    <div class="paginacion" *ngIf="totalPaginas > 1">
      <button (click)="irPrimera()" [disabled]="paginaActual === 1">«</button>
      <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">‹</button>

      <button 
        *ngFor="let pagina of paginasArray"
        [class.activa]="paginaActual === pagina"
        (click)="irPagina(pagina)">
        {{ pagina }}
      </button>

      <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">›</button>
      <button (click)="irUltima()" [disabled]="paginaActual === totalPaginas">»</button>
    </div>

  </div>
</ion-content>

<app-loading></app-loading>
