<div class="modal-container">
  <!-- Botón cerrar -->
  <ion-button fill="clear" class="btn-cerrar" (click)="cerrarModal()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>

  <!-- Título -->
  <h2 class="modal-titulo">Registrar Categoría</h2>

  <!-- Formulario -->
  <form class="formulario">
    <!-- ID -->
    

    <!-- Nombre -->
    <div class="form-group">
      <ion-input
        [(ngModel)]="categoria.nombre"
        name="nombre"
        type="text"
        placeholder="Nombre de la Categoría"
        class="custom-input"
      ></ion-input>
    </div>

    <!-- Botones -->
    <div class="botones-container">
      <ion-button fill="outline" class="btn-cancelar" (click)="cerrarModal()">
        Cancelar
      </ion-button>

      <ion-button fill="solid" class="btn-aceptar" (click)="aceptar()">
        Aceptar
      </ion-button>
    </div>
  </form>
</div>
