<div class="modal-container">
  <!-- Botón cerrar (X) -->
  <ion-button fill="clear" class="btn-cerrar" (click)="cerrarModal()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>

  <!-- Título -->
  <h2 class="modal-titulo">Registrar Carrera</h2>

  <!-- Formulario -->
  <form class="formulario">

    <!-- Estatus arriba a la derecha -->
    <div class="estado-toggle-container">
      <div class="estado-toggle">
         <span class="estado-titulo">Estatus:</span>
        <span class="estado-label">{{ carrera.activo ? 'Activo' : 'Inactivo' }}</span>
        <ion-toggle [(ngModel)]="carrera.activo" name="activo" color="success"></ion-toggle>
      </div>
    </div>

    <!-- Nombre -->
    <div class="form-group">
      <ion-input
        [(ngModel)]="carrera.nombre"
        name="nombre"
        type="text"
        placeholder="Nombre"
        class="custom-input"
      ></ion-input>
    </div>

    <!-- Botones -->
    <div class="botones-container">
      <ion-button fill="outline" class="btn-cancelar" (click)="cerrarModal()">
        Cancelar
      </ion-button>

      <ion-button fill="solid" class="btn-aceptar" (click)="aceptar()">
        Aceptar
      </ion-button>
    </div>
  </form>
</div>
