<div class="modal-container">
  <!-- Botón cerrar (X) -->
  <ion-button 
    fill="clear" 
    class="btn-cerrar" 
    (click)="cerrarModal()"
  >
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>

  <!-- Título -->
  <h2 class="modal-titulo">Registrar Estudiante</h2>

  <!-- Formulario -->
  <form class="formulario">
    <!-- Matrícula -->
    <div class="form-group">
      <ion-input
        [(ngModel)]="estudiante.matricula"
        name="matricula"
        type="text"
        placeholder="Matrícula"
        class="custom-input"
      ></ion-input>
    </div>

    <!-- Nombre -->
    <div class="form-group">
      <ion-input
        [(ngModel)]="estudiante.nombre"
        name="nombre"
        type="text"
        placeholder="Nombre"
        class="custom-input"
      ></ion-input>
    </div>

    <!-- Apellido Paterno -->
    <div class="form-group">
      <ion-input
        [(ngModel)]="estudiante.apellidoPaterno"
        name="apellidoPaterno"
        type="text"
        placeholder="Apellido paterno"
        class="custom-input"
      ></ion-input>
    </div>

    <!-- Apellido Materno -->
    <div class="form-group">
      <ion-input
        [(ngModel)]="estudiante.apellidoMaterno"
        name="apellidoMaterno"
        type="text"
        placeholder="Apellido materno"
        class="custom-input"
      ></ion-input>
    </div>

    <!-- Carrera -->
    <div class="form-group">
      <ion-select
        [(ngModel)]="estudiante.carreraId"
        name="carreraId"
        interface="popover"
        placeholder="Seleccionar carrera"
        class="custom-select"
      >
        <ion-select-option 
          *ngFor="let carrera of carreras" 
          [value]="carrera.id"
        >
          {{ carrera.titulo }}
        </ion-select-option>
      </ion-select>
    </div>


     <div class="estado-toggle-container">
      <div class="estado-toggle">
        <span class="estado-titulo">Estatus:</span>
        <span class="estado-label">{{ estudiante.activo ? 'ACTIVO' : 'ACTIVO' }}</span>
        <ion-toggle [(ngModel)]="estudiante.activo" name="activo" color="success"></ion-toggle>
      </div>
    </div>
    <!-- Botones -->
    <div class="botones-container">
      <ion-button fill="outline" class="btn-cancelar" (click)="cerrarModal()">
        Cancelar
      </ion-button>

      <ion-button fill="solid" class="btn-aceptar" (click)="aceptar()">
        Aceptar
      </ion-button>
    </div>
  </form>
</div>
